*{
  margin:0;
  padding:0;
}

body,html{
    height:100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: #0a2052;
  line-height: 1.5em;
}

ul,
h1,
h2,
a {
  font-family: Helvetica, sans-serif;
}

div#sidebar {
  text-align:center;
  background: #0E0E0E;
  height:100%;
  float:left;
  display: block;
  width: 210px;
  position: fixed;
}

audio{
  display: block;
  width: 400px;
}

#logo {
  width: 150px;
  height: 150px;
  margin: 30px;
  background:url("../images/logo.png") top center no-repeat;
  display: block;
  text-indent: -999em;
  cursor: pointer;
}

div.content {
  display: block;
}

div.post {
  margin: 20px 0;
  width: 700px;
  font-family: Georgia, serif;
}

article {
  padding: 50px;
  display: block;
  margin-left: 210px;
  box-shadow: #E3E3E3 0px 1px 0px 0px inset;
  color: #444;
  font-family: Helvetica, sans-serif;
}

article.news {
  border-left: 5px solid #1163db;
}

article.podcast {
  border-left: 5px solid #1585FF;
}

article p {
  margin-bottom: 20px;
}

.title,
.title a {
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
  margin-right: 0.75em;
  margin-bottom: 5px;
  color: #555;
}

.title a:hover {
  color: #999;
}

.date {
  font-family: Georgia, serif;
  font-size: 15px;
  color: #888;
  margin-bottom: 15px;
}

.audio {

}

.audio span {
  font-weight: normal;
  font-size: 12px;
}

.summary {
  font-family: Georgia, serif;
  color: #666;
  margin: 20px 0;
  padding-right: 20px;
}

.summary p {
  width:650px;
}
.summary h3 {
  margin:20px 0 0 0px;
}

.summary ul {
  list-style: square;
  font-size: 12px;
  margin:20px 0 0 20px;
}

.tags {
  margin-top: 20px;
}

.tags a {
  background: #B9B9B9;
  text-decoration: none;
  border-radius: 13px;
  color: white;
  font-size: 13px;
  margin-right: 5px;
  text-shadow: 0px 2px 3px #797979;
  box-shadow: 2px 3px 5px #979797 inset;
  padding: 4px 12px;
  font-weight: bold;
}

.tags a:hover {
  background: #CACACA;
}

#social {
  margin:20px 0;
}

.info span {
  font-size: 14px;
  font-weight: bold;
  margin-right: 6px;
  background: #EEE;
  border-radius: 7px;
  padding: 3px 6px;
}

.info a {
  font-size: 14px;
  font-weight: bold;
  margin-right: 6px;
  background: #6B6B6B;
  border-radius: 7px;
  padding: 3px 6px;
  color: white;
  text-decoration: none;
}

.info a:hover {
  background: #414141;
}

.data {
  width: 500px;
  float: left;
}

.more a {
  color: #3386ff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

ul {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 8px;
  font-size: 20px;
}

li {
  font-weight: bold;
}

li a {
  font-weight: normal;
  text-decoration: none;
  color: #0195C5;
}

li a:hover {
  color: #05698A;
}

li li a {
  font-size: 15px;
}

li span {
  color: #888;
  font-weight: bold;
}

ul.posts li {
  font-size: 14px;
}

.external {
  margin-top: 250px
}

.external a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 12px;
  background: gray;
  border-radius: 13px;
}

.nav {
  margin: 40px 0;
}

.nav a {
  color: gray;
  text-decoration: none;
  padding: 8px 17px;
  background: #ECECEC;
  border: 1px solid #D5D5D5;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.nav a:hover {
  background: #DBDBDB;
}
