*{
  margin:0;
  padding:0;
}

body,html{
    height:100%;
}

body {
  font-family: verdana, Arial, helvetica, sans-serif;
  color: #0a2052;
  line-height: 1.5em;
}

div#sidebar {
  text-align:center;
  background: #0E0E0E;
  height:100%;
  float:left;
  display: block;
  width: 210px;
  position: fixed;
}

audio{
  display: block;
  width: 400px;
}

#logo {
  width: 150px;
  height: 150px;
  margin: 30px;
  background:url("../images/logo.png") top center no-repeat;
  display: block;
  text-indent: -999em;
  cursor: pointer;
}

div.content {
  display: block;
}

article {
  padding: 50px;
  display: block;
  margin-left: 210px;
  box-shadow: #E3E3E3 0px 1px 0px 0px inset;
  color: #444;
  font-family: Helvetica, sans-serif;
}

article.news {
  border-left: 5px solid #1163db;
}

article.podcast {
  border-left: 5px solid #1585FF;
}

article p {
  margin-bottom: 10px;
}

.title {
  font-size: 1.333em;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
  margin-right: 0.75em;
  margin-bottom: 5px;
}

.date {
  font-family: Georgia, serif;
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}

#mp3_audio {

}

#mp3_audio span {
  font-weight: normal;
  font-size: 12px;
}

#summary {
  font-family: Georgia, serif;
  color: #666;
  margin: 20px auto;
}

#summary p {
  width:650px;
}
#summary h3 {
  margin:20px 0 0 0px;
}

#summary ul {
  list-style: square;
  font-size: 12px;
  margin:20px 0 0 20px;
}

#tags {
  margin-top: 20px;
}

#tags a {
  padding: 3px 9px;
  background: #8F8F8F;
  text-decoration: none;
  border-radius: 13px;
  color: white;
  font-size: 13px;
  margin-right: 5px;
}

#tags a:hover {
  background: #CACACA;
}

#social {
  margin:20px;
}
