*{
  margin:0;
  padding:0;
}

body { 
  width: 1020px;
  height: auto;
  margin: 0 auto;
  border: 10px solid #000f3d;
}

header {
  text-align:center;
  margin-top:20px;
  border: 10px solid #b3db85;
}

#logo {
  width: 980px;
  height: 200px;
  margin: 0px auto;
  background:url("../images/logo.png") top center no-repeat #fff;
}

section {
 border-bottom: 10px solid #65b6ed;
 
}
#date-field {
  
}

#mp3_audio {

}

#mp3_audio span {
  font-weight: bold;
}

#summary_links a {
  display:block;
}
#tags {
  
}
